.navbar { 
    background-color: #121e38; 
    position: sticky; 
    top: 0;  
}
#nav-toggle { 
    display: none; 
}
#nav-toggle:checked ~ ul { 
    display: block; 
}
.navbar label { 
    color: white;  
    padding: 0.5rem; 
    display: block;
    cursor: pointer;
}
.navbar ul { 
    display: none; 
    list-style: none; 
    position: absolute; 
    background-color: #121e38; 
}
.navbar a { 
    display: block; 
    padding: 0.5rem 1rem; 
    color: #fff; 
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s;
}
.navbar a:hover {
    background-color: #1c2e52;
    color: #93c5fd;
}

@media only screen and (min-width: 768px) {
    .navbar label {
        display: none;
    }
    .navbar ul {
        display: flex;
        position: static;
        background-color: transparent;
    }
    .navbar {
        display: flex;
        align-items: center;
        padding: 0 1rem;
    }
}