.skills-grid { 
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 1rem; 
}
.skills-category { 
    margin-bottom: 1rem; 
}
.skills-category:last-child { 
    margin-bottom: 0; 
}
.skills-list { 
    display: flex; 
    flex-wrap: wrap; 
    gap: 0.5rem; 
}

@media only screen and (orientation: landscape){
    .skills-grid { 
        grid-template-columns: repeat(2, 1fr); 
    }
}